{% block content
%}
<link rel="stylesheet" href="../static/home.css">
<main class='wrapper'>
  <header class='header'>
    <div class='header__logo'>THE 1%</div>
    <div class='header__right'>
      <p>
        <span class='header__language header__active'>EN</span>
        <span class='header__language'>AR</span>
      </p>
      <div class='header__diamond'></div>
    </div>
  </header>
  <nav class='menu'>
    <ul>
      <a href='/todolist'>Start</a>
      <a href='/logout' class='logout'>Logout</a>
    </ul>
  </nav>
  <div class='bg__pattern'></div>
  <div class='bg__image'></div>
</main>
<script src="../static/home.js"></script>
{% endblock %}